<div id="signup" class="hide">
	<div class="overlay"><span></span></div>
	<div class="modal">
		<div class="bg gradient"></div>
		<div class="bg blur"></div>
		<h1>Get Started <span>with Art Fellowship</span></h1>
		<input type="text" placeholder="Enter your email">
		<p class="subtext">Sign up for upcoming sessions</p>
		<p class="email-disclaimer">Your email is <span>only</span> used to facilitate practice</p>
		
		<div class="mobile-options">
			
		</div>
		
		<div class="options">
			<div class="facilitated">
				<h2>Facilitated Practice</h2>
				<div class="donation">
					<p>Free and open to all!</p>
				</div>
				<p class="donation hide">$10 Suggested Donation<span></span></p>
				<p>New to the practice? A facilitated session provides the structure, support, and guidance to help you get started.</p>
				<p class="scheduled"><span class="region">🌎 America&rsquo;s:</span> Sat Mar 23 & Mar 30 &bull; 4<span class="time-detail">PM EST</span></p>
				<p class="scheduled"><span class="region">🌍 Europe:</span> Sat Mar 23 & Mar 30 &bull; 12<span class="time-detail">PM CET</span></p>
				<p class="future-sessions">Can't make these? New sessions every 4-6 weeks.</p>
			</div>
			<div class="community-practice">
				<h2>Community Practice</h2>
				<div class="donation">
					<p>Free! <em>Donations Appreciated</em></p>
				</div>
				<p>Already experienced a facilitated practice? Continue and build your practice with the community. Find times that work, make friends, and make creative engagement a habit.</p>
			</div>
		</div>
		
	</div>
</div>