@use '../abstracts' as a;
@use '../utilities' as *;

#signup {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	min-height: 100dvh;
	height: fit-content;
	width: 100%;
	padding: 2rem 0.2rem 2rem;
	display: flex;
	justify-content: center;
	
	@include screen-md {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		align-items: center;
	}
	
	div.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		
		span {
			width: 5vw;
			height: 5vh;
			background: hsla(0, 0%, 10%, 0.40);
			backdrop-filter: blur(0.9rem); // Cannot animate in Chrome
			-webkit-backdrop-filter: blur(0); // Can animate in Safari
			border-radius: 3rem;
			margin-bottom: 5rem;
		}
	}
	
	div.modal { 
		$background-color: hsl(212, 18%, 93%);
		position: relative;
		width: 100%;
		max-width: 40rem;
		height: fit-content;
		max-height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 1.8rem 1.8rem 1.8rem 1.8rem;
		color: hsl(201, 5%, 24%);
		background: $background-color;
		box-shadow: 
			hsla(204, 28%, 81%, 1) 0px 0px 1px 1px inset,
			rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
			rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		transition: all 180ms;
		
		opacity: 0;
		filter: blur(2.5rem);
		
		> * {
			z-index: 3;
		}
		* {
			@include selection(hsl(242, 100%, 63%), hsl(224, 100%, 93%));
		}
		.bg {
			border-radius: inherit;
			position: absolute;
			top: 1px; left: 1px;
			width: calc(100% - 2px); 
		}
		.gradient {
			z-index: 1;
			height: 8rem;
			background: linear-gradient(to bottom, 
				hsl(220, 72%, 85%) 0%,
				hsl(261, 75%, 94%) 50%,
				hsl(216, 100%, 98%) 65%,
				$background-color 100%
			);
		}
		.blur {
			z-index: 2;
			height: 12rem;
			backdrop-filter: blur(0.5rem);
			-webkit-backdrop-filter: blur(0.5rem);
		}
		h1 {
			width: 100%;
			padding: 0.9rem 0.7rem;
			margin-bottom: 0rem;
			text-align: center;
			font-weight: 700;
			font-size: 1.8rem;
			color: hsl(221, 100%, 58%);
			background: linear-gradient(to bottom, 
				hsl(220, 100%, 53%) 20%, 
				hsl(277, 100%, 84%) 80%);
			@include gradient-text;
			span {
				font-family: 'Source Serif Text';
				font-weight: 300;
				letter-spacing: -0.015em;
			}
		}
		input {
			--box-shadow: 
				inset 0 0 0 2px hsla(165, 6%, 13%, 0.09),
				inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.08),
				0 2px 5px 0 rgba(154,174,181,0.17);
			--box-shadow-hover: inset 0 0 0 2px hsla(165, 6%, 13%, 0.09),
				inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.12),
				0 2px 5px 1px rgba(154,174,181,0.17);
			--box-shadow-focus: inset 0 0 0 2px hsla(207, 100%, 50%, 0.8),
			inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.5),
			0 2px 5px 1px rgba(154,174,181,0.17),
			0 0 0 4px hsla(211, 100%, 60%, 0.3);
			
			margin: 1rem auto;
			padding: 0.3rem 1.3rem;
			border-radius: 1.5rem;
			height: 4rem;
			flex-shrink: 0;
			width: 23rem;
			border: none;
			font-size: 1.5rem;
			background: linear-gradient(to bottom, 
				hsl(0, 0%, 100%),
				hsl(216, 26%, 95%)
			);
			
			border: none;
			box-shadow: var(--box-shadow);
			-webkit-appearance: none;
			-webkit-box-shadow: var(--box-shadow);
			
			transition: all ease-in-out 300ms;
			&::placeholder {
				color: hsl(0, 0%, 49%);
			}
			&:hover,
			&:focus {
				background: linear-gradient(to bottom, 
					hsl(0, 0%, 100%),
					hsl(216, 100%, 99%)
				);
				box-shadow: var(--box-shadow-hover);
				-webkit-box-shadow: var(--box-shadow-hover);
			}
			&:hover::placeholder,
			&:focus::placeholder {
				color: hsl(0, 0%, 40%);
			}
			&:focus {
				outline: none;
				box-shadow: var(--box-shadow-focus);
				-webkit-box-shadow: var(--box-shadow-focus);
			}
			@include screen-md {
				width: calc(100% - 2.5rem);
				max-width: 23rem;
			}
		}
		> p {
			font-size: 1.3rem;
			font-weight: 500;
			text-align: center;
			color: hsla(0, 0%, 0%, 0.7);
		}
		> p.subtext {
			background: linear-gradient(to bottom, 
				hsl(216, 57%, 57%) 6%, 
				hsl(222, 66%, 50%) 32%, 
				hsl(260, 70%, 62%) 92%);
			@include gradient-text;
		}
		> p.email-disclaimer {
			font-size: 0.9rem;
			color: hsla(0, 0%, 0%, 0.6);
			padding-top: 0.3rem;
			padding-bottom: 2.5rem;
			span {
				font-weight: 600;
			}
		}
		div.options {
			overflow-y: scroll;
			@include screen-md {
				// display: none;
				div.facilitated p.scheduled, div.facilitated p.future-sessions {
					display: none;
				}
				div.community-practice {
					display: none;
				}
			}
			> div {
				padding: 2.3rem 1.5rem;
				box-shadow: 
					inset 0 1px 0 0px hsl(212, 9%, 81%),
					inset 0 2px 0 0px hsl(212, 2%, 99%);
				text-align: center;
				@include screen-md {
					padding: 1.5rem 0.8rem;
				}
				h2 {
					padding-bottom: 0.7rem;
					font-size: 1.6rem;
					letter-spacing: -0.014em;
					color: hsl(212, 3%, 18%);
				}
				p {
					line-height: 1.55;
					padding: 0 1.5rem 0.7rem;
					@include screen-md {
						padding: 0 0.4rem 0.9rem;
					}
				}
				div.donation {
					position: relative;
					width: fit-content;
					margin: auto;
					margin-bottom: 0.8rem;
					border-radius: 10rem;
					overflow: hidden;
					p {
						position: relative;
						padding: 0.3rem 0.7rem;
						color: hsla(0, 0%, 5%, 0.8);
						font-size: 1rem;
						font-weight: 500;
						z-index: 2;
					}
					em {
						opacity: 0.9;
					}
					&::before, &::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&::after {
						z-index: 5;
						border-radius: inherit;
						box-shadow: inset 0 1.5px hsla(0, 0%, 0%, 0.13);
					}
					&::before {
						z-index: 1;
						background: linear-gradient(114deg,
							hsl(136, 100%, 94%) 5%,
							hsl(36, 100%, 93%) 16%,
							hsl(271, 100%, 92%) 25%,
							hsl(53, 40%, 98%) 50%);
						transition: all 300ms;
						transition-timing-function: ease-out;
					}
					&:hover::before {
						width: 130%;
					}
					&:hover {
						cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
					}
				}
				p.scheduled {
					font-family: 'Inter Var', 'Inter V', 'Inter';
					font-size: 1.23rem;
					font-weight: 500;
					width: fit-content;
					padding: 0.3rem 0.9rem 0.3rem 0.6rem;
					margin: 0.4rem auto;
					border-radius: 3rem;
					background: hsl(212, 12%, 92%);
					color: hsl(231, 2%, 20%);
					box-shadow: 
						inset 0 0 0 1px hsla(0, 0%, 0%, 0.07),
						inset 0 -1px hsla(0, 0%, 0%, 0.09),
						inset 0 1px hsla(0, 0%, 0%, 0.14);
					@include screen-md {
						width: 100%;
						border-radius: 1.5rem;
						background: hsl(212, 30%, 96%);
						padding: 0.6rem 0.3rem 0.6rem;
						box-shadow: 
							inset 0 0 0 1px hsla(0, 0%, 0%, 0.08),
							inset 0 -1px hsla(0, 0%, 0%, 0.07),
							inset 0 1px hsla(0, 0%, 0%, 0.10);
					}
					.region {
						font-weight: 600;
						color: hsl(221, 85%, 43%);
						@include screen-md {
							display: block;
						}
					}
					.time-detail {
						font-size: 0.85em;
					}
					a {
						margin-left: 0.7rem;
						padding: 0.2rem 0.7rem;
						border-radius: 3rem;
						color: hsl(221, 100%, 60%);
						background: hsla(202, 100%, 94%, 1);
						&:hover {
							color: hsl(221, 98%, 47%);
						}
					}
				}
				p.future-sessions {
					font-size: 1rem;
					color: hsla(0, 0%, 0%, 0.6);
				}
			}
		}
	}
	&.show {
		div.overlay span {
			animation: modal-overlay-in forwards 310ms ease-in;
		}
		@keyframes modal-overlay-in {
			0% {
				width: 5vw;
				height: 5vh;
				background: hsla(0, 0%, 10%, 0.40);
				backdrop-filter: blur(0rem);
				-webkit-backdrop-filter: blur(0rem);
				border-radius: 3rem;
				margin-bottom: 5rem;
				filter: blur(1.5rem);
			}
			50% {
				border-radius: 5rem;
				filter: blur(1.4rem);
				margin-bottom: 5rem;
			}
			100% {
				width: 100%;
				height: 100%;
				background: hsla(0, 0%, 10%, 0.50);
				backdrop-filter: blur(0.9rem);
				-webkit-backdrop-filter: blur(0.9rem);
				border-radius: 0rem;
				margin-bottom: 0rem;
				filter: blur(0rem);
			}
		}
		div.modal {
			animation: modal-in forwards 260ms 180ms ease-out;
		}
		@keyframes modal-in {
			0% {
				opacity: 0;
				filter: blur(1.5rem);
				transform: translateY(20%) scale(0.9);
			}
			100% {
				opacity: 1;
				filter: blur(0rem);
				transform: translateY(0) scale(1);
			}
		}
	}
	opacity: 1;
	filter: blur(0rem);
	transform: scale(1);
	transition: all 500ms;
	&.close {
		opacity: 0;
		filter: blur(3rem);
		transform: scale(1.5);
	}
}