:root {
	--background: hsl(48, 26%, 96%);
	--text-color: hsla(0, 0%, 16%, 1);
	--link-color: hsla(208, 92%, 28%, 1);
	
	--overscroll-top: hsl(51, 5%, 90%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(48, 26%, 96%);
	}
}
$background: hsl(48, 26%, 96%);

$screen-sm-min: 40rem;
$screen-md-min: 60rem;

@mixin screen-sm {
	@media (max-width: #{$screen-sm-min}) {
		@content
	}
}
@mixin screen-md {
	@media (max-width: #{$screen-md-min}) {
		@content
	}
}
@mixin screen-x($size) {
	@media (max-width: $size) {
		@content
	}
}

@mixin gradient-text {
	background-clip: text !important;
	-webkit-background-clip: text !important;
	text-fill-color: transparent !important;
	-webkit-text-fill-color: transparent !important;
}
@mixin selection-color($color) {
	color: $color;
	text-fill-color: $color;
	-webkit-text-fill-color: $color;
}

html, body, body > div.wrapper {
	background-color: var(--background);
	color: var(--text-color);
}
body.modal-open {
	overflow: hidden;
}

nav {
	--height: 4rem;
	position: relative;
	width: 100%;
	height: var(--height);
	background: hsl(51, 5%, 90%);
	z-index: 10;
	
	overflow-y: hidden;
	transition: all 250ms;
	div {
		height: var(--height);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		overflow-x: scroll;
		padding: 0 1.5rem;
	}
	a {
		display: block; 
		background: hsl(221, 8%, 30%);
		border-radius: 100rem;
		padding: 0.3rem 0.9rem;
		font-weight: 500;
		color: hsl(202, 100%, 98%);
		font-size: 1.12rem;
		text-decoration: none;
		white-space: nowrap;
		cursor: pointer;
		transition: all 200ms;
		&:hover {
			background: hsl(212, 88%, 56%);
		}
	}
	&.collapse {
		height: 3px;
	}
	@include screen-sm {
		background: hsl(0, 0%, 0%);
		height: 16.41rem;
		div {
			padding: 0.8rem 0.5rem;
			flex-direction: column;
			height: fit-content;
		}
		&.collapse {
			height: 0.8rem;
		}
	}
}

@include screen-sm {
	:root {
		--overscroll-top: hsl(0, 0%, 0%);
	}
	html, body {
		background-color: hsl(0, 0%, 0%);
	}
	#hero {
		margin-top: -1.2rem;
	}
	.mobile-dark-shim {
		--radius: 1.4rem;
		width: 100%;
		height: var(--radius);
		position: relative;
		z-index: 10;
		background: hsl(0, 0%, 0%);
		span {
			display: block;
			background: var(--background);
			border-radius: var(--radius) var(--radius) 0 0;
			height: 100%;
			width: 100%;
		}
	}
}

#hero {
	$about-overhang: 5rem;
	
	position: relative;
	min-height: fit-content;
	height: calc(100svh + $about-overhang);
	max-height: calc(65rem + $about-overhang);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: visible;
	* {
		z-index: 1;
	}
		
	.title {
		width: 100%;
		max-width: 69rem;
		padding: 1.2rem 0.9rem 0;
		display: flex;
		#nav-btn {
			width: 100%;
			transition: filter 200ms;
			&:hover {
				filter: brightness(0.6);
				cursor: pointer;
			}
		}
		#logo {
			width: clamp(13.5rem, 50vw, 19.5rem);
			flex-shrink: 0;
		}
		div.spacer {
			width: 100%;
			flex-grow: 1;
		}
	}
	
	.headline {
		padding: 4.3rem 1rem 3rem;
		text-align: center;
		@include screen-md {
			padding: 3.5rem 1rem 2.2rem;
		}
		> h1 {
			font-family: 'Source Serif Display';
			font-weight: 700;
			font-size: clamp(3.4rem, 6vw, 4.4rem);
			line-height: 1.18;
			letter-spacing: -0.013em;
			&::selection {
				background: hsl(226, 94%, 56%);
				@include selection-color(hsl(204, 80%, 84%));
			}
			@include screen-md {
				padding-bottom: 1.2rem;
				font-weight: 500;
				font-size: 3.8rem;
				line-height: 0.96;
			}
		}
		> h2 {
			padding: 0.69rem 0 0.2rem;
			font-family: 'Source Serif Text';
			font-weight: 300;
			font-size: clamp(2.6rem, 6vw, 4.38rem);
			letter-spacing: -0.015em;
			color: hsl(220, 100%, 56%);
			background: linear-gradient(to bottom, 
				hsl(244, 100%, 32%) 6%, 
				hsl(213, 84%, 51%) 32%, 
				hsl(278, 100%, 78%) 92%);
			@include gradient-text;
			&::selection {
				background: hsl(257, 73%, 75%);
				@include selection-color(hsl(270, 94%, 93%));
			}
		}
	}
	
	.small-spacer {
		width: 100%;
		max-height: 4rem;
		flex-shrink: 1;
		flex-grow: 1;
	}
	
	.body {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 69rem;
		
		.cards-group {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			min-height: 7rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 1rem;
			
			div.spacer {
				width: 100%;
				flex-basis: 27rem;
				flex-grow: 1;
				max-width: 30rem;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				height: fit-content;
				padding: 0;
				
				--margin: clamp(1.3rem, calc(3.5vw + 0.5rem), 3.8rem);
				&.left {
					li:nth-of-type(1) {
						transform: rotate(-5deg);
					}
					li:nth-of-type(2) {
						transform: rotate(2deg);
						margin-left: var(--margin);
					}
				}
				&.right {
					align-items: flex-end;
					li:nth-of-type(1) {
						transform: rotate(3deg);
					}
					li:nth-of-type(2) {
						transform: rotate(-2deg);
						margin-right: var(--margin);
					}
				}
				li {
					list-style: none;
					width: 14.6rem;
					height: 4.7rem;
					background: #FFFFFF;
					border-radius: 1.8rem;
					border: 1px solid hsla(0, 0%, 100%, 0.46);
					box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.03);
					padding: 0.5rem 1.1rem;
					display: flex;
					align-items: center;
					font-family: 'Manropey';
					font-size: 1.1rem;
					color: hsl(234, 6%, 32%);
					transition: all 250ms;
					strong { 
						font-weight: 600; 
						color: hsl(234, 6%, 24%);
					}
					&.quote {
						position: relative;
						padding-left: 0.5rem;
						gap: 0.5rem;
						&::before {
							content: "\00201c";
							display: block;
							font-family: 'Petrona Var';
							font-weight: 800;
							font-size: 6rem;
							color: hsla(60, 8%, 87%, 1.00);
							padding-top: 2rem;
						}
						img {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 2.8rem;
							box-shadow: 0 0 0 2px var(--background);
							border-radius: 100rem;
							transform: translate(-30%, 30%);
						}
					}
					&:hover {
						border: 2px solid hsla(0, 0%, 100%, 0.6);
						box-shadow: 0 2px 6px 2px hsla(0, 0%, 0%, 0.06);
						transform: rotate(0) scale(1.1) !important;
					}
				}
			}
			
			@include screen-md {
				position: relative;
				width: 100%;
				justify-content: flex-start;
				overflow-x: scroll;
				gap: 1rem;
				height: fit-content;
				padding: 1rem 2rem 2rem;
				margin-bottom: 1rem;
				ul {
					flex-direction: row;
					gap: 1rem;
					&.left {
						li:nth-of-type(1) {
							transform: rotate(-5deg);
						}
						li:nth-of-type(2) {
							transform: rotate(2deg);
							margin-left: 0;
						}
					}
					&.right {
						align-items: flex-end;
						li:nth-of-type(1) {
							transform: rotate(-1deg);
						}
						li:nth-of-type(2) {
							transform: rotate(2.5deg);
							margin-right: 0;
						}
					}
				}
				div.spacer { display: none; }
			}
		}
		
		.cta {
			z-index: 12;
			text-align: center;
			max-width: 27rem;
			margin: auto;			
			h1 {
				font-size: 1.7rem;
				font-weight: 600;
				line-height: 1.8;
			}
			p {
				font-size: 1.14rem;
				letter-spacing: -0.012em;
				font-weight: 400;
				line-height: 1.4;
			}
			h1::selection, 
			p::selection {
				background: hsl(0, 0%, 0%);
				@include selection-color(var(--background));
			}
			a {
				display: inline-block;
				margin-top: 1.3rem;
				padding: 0.37rem 1.5rem;
				font-weight: 600;
				font-size: 1.4rem;
				background: hsl(39, 3%, 44%);
				color: hsl(0, 0%, 100%);
				text-decoration: none;
				border-radius: 10rem;
				transition: all 250ms;
				&:hover {
					background: hsl(0, 0%, 0%);
					cursor: pointer;
				}
				&.opened {
					transform: scale(1.15);
				}
			}
		}
	}
	
	> div.spacer {
		width: 100%;
		flex-basis: 2rem;
		min-height: 4rem;
		flex-grow: 3;
		flex-shrink: 1;
	}
	
	#art-marquee {
		$item-height: 13.6rem;
		
		width: 100%;
		height: calc($item-height + (2 * $about-overhang));
		
		div.scroll {
			display: flex;
			align-items: center;
			height: 100%;
			gap: 1.3rem;
			padding: 0.3rem 0.5rem;
			overflow-x: scroll;
			div.item {
				height: $item-height;
				aspect-ratio: 18.8/13.6;
				flex-shrink: 0;
				border-radius: 0.3rem;
				background: linear-gradient(to bottom, 
					hsla(202, 45%, 22%, 1) 0%, 
					hsla(233, 51%, 37%, 1) 100%);
			}
		}
		div.main {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: inherit;
			z-index: 2;
			pointer-events: none;
			
			.wrapper {
				width: calc(100% - 2rem);
				max-width: 30rem;
				margin: auto;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				background: linear-gradient(to bottom, 
					hsl(180, 100%, 100%), 
					hsl(221, 100%, 79%)
				);
				p {
					font-family: 'Petrona';
					font-weight: 600;
					font-size: 2.3rem;
					font-style: italic;
					background: linear-gradient(to bottom, 
						hsl(214, 100%, 16%), 
						hsl(214, 84%, 52%));
					background-clip: text;
					-webkit-background-clip: text;
					text-fill-color: transparent;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}
	
	.bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60%;
		z-index: 0;
	}
	.gradient {
		background: linear-gradient(to bottom,
			var(--background) 0%,
			hsla(48, 44%, 89%, 1) 65%,
			hsla(48, 44%, 89%, 1) 100%
		);
	}
}

// div.overlay {
// 	background: hsla(0, 0%, 0%, 0);
// 	transition: all 200ms;
// }

// div.overlay {
// 	position: absolute;
// 	width: 100vw;
// 	height: 100vh;
// 	top: 0;
// 	left: 0;
// 	background: hsla(0, 0%, 10%, 0.25);
// 	backdrop-filter: blur(0.25rem);
// 	-webkit-backdrop-filter: blur(0.25rem);
// }

// #signup div.modal {
// 	animation: get-started-anim-in 300ms forwards ease;
// }
// @keyframes get-started-anim-in {
// 	from {
// 		top: 100%;
// 	}
// 	to {
// 		top: 2rem;
// 	}
// }

#signup {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	min-height: 100dvh;
	height: fit-content;
	width: 100%;
	padding: 2rem 0.2rem 2rem;
	display: flex;
	justify-content: center;
	
	div.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		background: hsla(0, 0%, 10%, 0.25);
		backdrop-filter: blur(0.25rem);
		-webkit-backdrop-filter: blur(0.25rem);
	}
	
	div.modal { 
		$background-color: hsl(212, 18%, 93%);
		
		position: relative;
		width: 100%;
		max-width: 40rem;
		height: fit-content;
		max-height: 100%;
		// min-height: calc(100dvh - 2rem);
		display: flex;
		flex-direction: column;
		border-radius: 1.8rem 1.8rem 1.8rem 1.8rem;
		color: hsl(201, 5%, 24%);
		background: $background-color;
		box-shadow: 
			hsla(204, 28%, 81%, 1) 0px 0px 1px 1px inset,
			rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
			rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		transition: all 180ms;
		
		> * {
			z-index: 3;
		}
		*::selection {
			background: hsl(242, 100%, 63%);
			@include selection-color(hsl(224, 100%, 93%))
		}
		.bg {
			border-radius: inherit;
			position: absolute;
			top: 1px; left: 1px;
			width: calc(100% - 2px); 
		}
		.gradient {
			z-index: 1;
			height: 8rem;
			background: linear-gradient(to bottom, 
				hsl(220, 72%, 85%) 0%,
				hsl(261, 75%, 94%) 50%,
				hsl(216, 100%, 98%) 65%,
				$background-color 100%
			);
		}
		.blur {
			z-index: 2;
			height: 12rem;
			backdrop-filter: blur(0.5rem);
			-webkit-backdrop-filter: blur(0.5rem);
		}
		h1 {
			width: 100%;
			padding: 0.9rem 0.7rem;
			margin-bottom: 0rem;
			text-align: center;
			font-weight: 700;
			font-size: 1.8rem;
			color: hsl(221, 100%, 58%);
			background: linear-gradient(to bottom, 
				hsl(220, 100%, 53%) 20%, 
				hsl(277, 100%, 84%) 80%);
			@include gradient-text;
			span {
				font-family: 'Source Serif Text';
				font-weight: 300;
				letter-spacing: -0.015em;
			}
		}
		input {
			--box-shadow: 
				inset 0 0 0 2px hsla(165, 6%, 13%, 0.09),
				inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.08),
				0 2px 5px 0 rgba(154,174,181,0.17);
			--box-shadow-hover: inset 0 0 0 2px hsla(165, 6%, 13%, 0.09),
				inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.12),
				0 2px 5px 1px rgba(154,174,181,0.17);
			--box-shadow-focus: inset 0 0 0 2px hsla(207, 100%, 50%, 0.8),
			inset 0 -2px 0 0 hsla(0, 0%, 0%, 0.5),
			0 2px 5px 1px rgba(154,174,181,0.17),
			0 0 0 4px hsla(211, 100%, 60%, 0.3);
			
			margin: 1rem auto;
			padding: 0.3rem 1.3rem;
			border-radius: 1.5rem;
			height: 4rem;
			flex-shrink: 0;
			width: 23rem;
			border: none;
			font-size: 1.5rem;
			background: linear-gradient(to bottom, 
				hsl(0, 0%, 100%),
				hsl(216, 26%, 95%)
			);
			
			border: none;
			box-shadow: var(--box-shadow);
			-webkit-appearance: none;
			-webkit-box-shadow: var(--box-shadow);
			
			transition: all ease-in-out 300ms;
			&::placeholder {
				color: hsl(0, 0%, 49%);
			}
			&:hover,
			&:focus {
				background: linear-gradient(to bottom, 
					hsl(0, 0%, 100%),
					hsl(216, 100%, 99%)
				);
				box-shadow: var(--box-shadow-hover);
				-webkit-box-shadow: var(--box-shadow-hover);
			}
			&:hover::placeholder,
			&:focus::placeholder {
				color: hsl(0, 0%, 40%);
			}
			&:focus {
				outline: none;
				box-shadow: var(--box-shadow-focus);
				-webkit-box-shadow: var(--box-shadow-focus);
			}
			
		}
		> p {
			font-size: 1.3rem;
			font-weight: 500;
			text-align: center;
			color: hsla(0, 0%, 0%, 0.7);
		}
		> p.subtext {
			background: linear-gradient(to bottom, 
				hsl(216, 57%, 57%) 6%, 
				hsl(222, 66%, 50%) 32%, 
				hsl(260, 70%, 62%) 92%);
			@include gradient-text;
		}
		> p.email-disclaimer {
			font-size: 0.9rem;
			color: hsla(0, 0%, 0%, 0.6);
			padding-top: 0.3rem;
			padding-bottom: 2.5rem;
			span {
				font-weight: 600;
			}
		}
		div.options {
			overflow-y: scroll;
			@include screen-md {
				display: none;
			}
			> div {
				padding: 2.3rem 1.5rem;
				box-shadow: 
					inset 0 1px 0 0px hsl(212, 9%, 81%),
					inset 0 2px 0 0px hsl(212, 2%, 99%);
				text-align: center;
				@include screen-md {
					padding: 1.5rem 0.8rem;
				}
				h2 {
					padding-bottom: 0.7rem;
					font-size: 1.6rem;
					letter-spacing: -0.014em;
					color: hsl(212, 3%, 18%);
				}
				p {
					line-height: 1.55;
					padding: 0 1.5rem 0.7rem;
					@include screen-md {
						padding: 0 0.4rem 0.9rem;
					}
				}
				div.donation {
					position: relative;
					width: fit-content;
					margin: auto;
					margin-bottom: 0.8rem;
					border-radius: 10rem;
					overflow: hidden;
					p {
						position: relative;
						padding: 0.3rem 0.7rem;
						color: hsla(0, 0%, 5%, 0.8);
						font-size: 1rem;
						font-weight: 500;
						z-index: 2;
					}
					em {
						opacity: 0.9;
					}
					&::before, &::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&::after {
						z-index: 5;
						border-radius: inherit;
						box-shadow: inset 0 1.5px hsla(0, 0%, 0%, 0.13);
					}
					&::before {
						z-index: 1;
						background: linear-gradient(114deg,
							hsl(136, 100%, 94%) 5%,
							hsl(36, 100%, 93%) 16%,
							hsl(271, 100%, 92%) 25%,
							hsl(53, 40%, 98%) 50%);
						transition: all 300ms;
						transition-timing-function: ease-out;
					}
					&:hover::before {
						width: 130%;
					}
					&:hover {
						cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
					}
				}
				p.scheduled {
					font-family: 'Inter Var', 'Inter V', 'Inter';
					font-size: 1.23rem;
					font-weight: 500;
					width: fit-content;
					padding: 0.3rem 0.9rem 0.3rem 0.6rem;
					margin: 0.4rem auto;
					border-radius: 3rem;
					background: hsl(212, 12%, 92%);
					color: hsl(231, 2%, 20%);
					box-shadow: 
						inset 0 0 0 1px hsla(0, 0%, 0%, 0.07),
						inset 0 -1px hsla(0, 0%, 0%, 0.09),
						inset 0 1px hsla(0, 0%, 0%, 0.14);
					@include screen-md {
						width: 100%;
						border-radius: 1.5rem;
						background: hsl(212, 30%, 96%);
						padding: 0.6rem 0.3rem 0.6rem;
						box-shadow: 
							inset 0 0 0 1px hsla(0, 0%, 0%, 0.08),
							inset 0 -1px hsla(0, 0%, 0%, 0.07),
							inset 0 1px hsla(0, 0%, 0%, 0.10);
					}
					.region {
						font-weight: 600;
						color: hsl(221, 85%, 43%);
						@include screen-md {
							display: block;
						}
					}
					.time-detail {
						font-size: 0.85em;
					}
					a {
						margin-left: 0.7rem;
						padding: 0.2rem 0.7rem;
						border-radius: 3rem;
						color: hsl(221, 100%, 60%);
						background: hsla(202, 100%, 94%, 1);
						&:hover {
							color: hsl(221, 98%, 47%);
						}
					}
				}
				p.future-sessions {
					font-size: 1rem;
					color: hsla(0, 0%, 0%, 0.6);
				}
			}
		}
	}
}


article.problem-statement {
	position: relative;
	z-index: 2;
	padding: 6rem 0.4rem 1.5rem;
	p {
		max-width: 42rem;
		margin: auto;
		font-family: 'Inter Var', 'Inter V', 'Inter';
		font-size: 2.42rem;
		font-weight: 700;
		line-height: 1.35;
		padding: 1.9rem 0;
		color: hsl(193, 5%, 37%);
		span.br {
			display: block;
			height: 0.29rem;
		}
	}
	div.bg.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3rem;
		background: linear-gradient(to bottom, 
			hsla(48, 44%, 89%, 1),
			var(--background)
		);
	}
	@include screen-md {
		padding: 5rem 0.8rem 1.5rem;
		p {
			line-height: 1.22;
			span.br {
				height: 0.8rem;
			}
		}
	}
}

#about {
	* {
		position: relative;
		z-index: 3;
	}
	.transition {
		position: relative;
		z-index: 1;
		* {
			position: relative;
			z-index: 2;
		}
		div.bg.gradient {
			position: absolute;
			z-index: 1;
			top: -8rem;
			left: 0;
			width: 100%;
			height: 37rem;
			background: linear-gradient(to bottom, 
				hsla(48, 26%, 96%, 1) 0%, 
				hsla(256, 50%, 90%, 1) 10%, 
				hsla(256, 93%, 84%, 1) 21%, 
				hsla(221, 94%, 75%, 1) 32%, 
				hsla(209, 99%, 67%, 1) 43%, 
				hsla(213, 99%, 68%, 1) 57%, 
				hsla(212, 100%, 70%, 1) 68%, 
				hsla(48, 26%, 96%, 1) 100%
			);
		}
		h1 {
			padding-top: 3rem;
			padding-bottom: 1.1rem;
			text-align: center;
			font-size: clamp(2.5rem, 14.5vw, 6.7rem);
			font-weight: 600;
			letter-spacing: -0.015em;
			background: linear-gradient(to bottom, 
				#E5F6F9 12%,
				#E3E9FE 46%, 
				#E1E1FF 89%
			);
			@include gradient-text;
			&::selection {
				background: hsl(203, 100%, 98%);
				@include selection-color(hsl(217, 100%, 58%));
			}
		}
	}
	object, svg {
		z-index: 5;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: calc(-1 * clamp(2.05rem, 4vw, 1.85rem));
		
		height: clamp(5.5rem, 13vw, 7.8rem);
	}
	section {
		width: calc(98vw - 2rem);
		max-width: 86rem;
		margin: auto;
		margin-bottom: 1.8rem;
		min-height: 50vh;
		padding: 5.2rem 7rem;
		background: linear-gradient(to bottom, 
			hsl(208, 49%, 93%) 0%, 
			hsl(270, 11%, 91%) 100%
		);
		border-radius: 3.3rem;
		
		> h2 {
			font-family: 'Petrona Var';
			font-weight: 300;
			font-size: 2.75rem;
			color: hsl(0, 0%, 42%);
			a, a:visited, a:active {
				color: hsl(0, 0%, 17%);
				text-decoration: none;
				font-weight: 400;
				&:hover {
					color: hsl(216, 82%, 56%);
					text-decoration: underline;
				}
			}
		}
		@include screen-md {
			margin-bottom: 1rem;
			width: calc(100vw - 1rem);
			min-height: 0px;
			border-radius: 2.3rem;
			padding: 2.7rem 1.4rem 4rem;
			> h2 { font-size: 1.8rem; }
		}
	}
	section.overall-structure {
		div.scroll-indicator {
			display: none;
			width: 100%;
			height: 0.4rem;
			justify-content: center;
			gap: 0.45rem;
			span {
				width: 2.4rem;
				height: 100%;
				background: hsla(0, 0%, 0%, 0.3);
				border-radius: 10rem;
				&.active {
					background: hsla(0, 0%, 0%, 0.8)
				}
			}
		}
		
		div.canvas {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 1.3rem;
			padding-top: 7rem;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				background: transparent;
			}
			
			div.block {
				height: 1.8rem;
				width: 100%;
				margin: 0 0 0.8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				span {
					display: block;
					height: 100%;
					width: 100%;
					border-radius: 10rem;
				}
			}
			> div {
				display: flex;
				flex-direction: column;
				align-items: center;
				scroll-snap-align: center;
				h1 {
					font-family: 'Petrona Var';
					font-weight: 500;
					font-size: 2.8rem;
					letter-spacing: -0.015em;
				}
				h2 {
					font-family: 'Petrona Var';
					font-size: 1.4rem;
					font-weight: 400;
					opacity: 0.8;
				}
				p {
					margin-top: 1rem;
					padding: 0 0.3rem;
					max-width: 34rem;
					text-align: center;
					font-size: 1.6rem;
					letter-spacing: -0.01em;
					line-height: 1.25;
					color: hsl(0, 0%, 33%);
				}
			}
			div.round-one, div.round-two {
				flex-grow: 0;
				flex-basis: 1;
				flex-shrink: 1;
				.block span {
					width: 5.8rem;
				}
			}
			div.round-one {
				.block span {
					background: linear-gradient(to bottom, 
						hsl(275, 95%, 45%) 0%, 
						hsl(258, 100%, 65%) 100%);
				}
				h1 {
					color: hsl(265, 100%, 59%);
				}
			}
			div.round-two {
				.block span {
					background: linear-gradient(to bottom, 
						hsl(237, 100%, 67%) 0%, 
						hsl(201, 100%, 47%) 100%);
				}
				h1 {
					color: hsl(201, 100%, 47%);
				}
			}
			div.week {
				flex-grow: 1.5;
				flex-basis: 1.5;
				flex-shrink: 0.7;
				.block > span {
					position: relative;
					max-width: 40rem;
					height: 1rem;
					background: hsl(0, 0%, 81%);
					overflow: clip;
					
					--line-width: 12rem; 
					span {
						position: absolute;
						top: 0;
						left: 10%;
						height: inherit;
						width: var(--line-width);
						background: linear-gradient(to right, 
							hsla(0, 0%, 100%, 0) 0%,
							hsla(210, 86%, 66%, 0.842) 15%,
							hsla(210, 100%, 51%, 0.842) 30%,
							hsla(241, 81%, 66%, 0.834) 70%,
							hsla(293, 67%, 70%, 0.632) 90%,
							hsla(293, 99%, 84%, 0.632) 95%,
							hsla(0, 0%, 100%, 0),
						);
						filter: blur(0.3rem);
						border-radius: 0;
						animation: week-line-pulse forwards infinite 2.3s ease-in;
					}
					@keyframes week-line-pulse {
						0% {
							left: calc(var(--line-width) * -1);
						}
						60% {
							left: calc(100% + var(--line-width));
						}
						100% {
							left: calc(100% + var(--line-width));
						}
					}
				}
				h1 {
					color: hsl(0, 0%, 33%);
				}
			}
		}
		@include screen-x(72rem) {
			div.canvas {
				padding-top: 2.8rem;
				padding-bottom: 1.8rem;
				> div {
					width: 100%;
					flex-shrink: 0 !important;
					flex-grow: 0;
				}
			}
			div.scroll-indicator {
				display: flex;
			}
		}
	}
	section.intent {
		background: linear-gradient(to bottom, 
			hsl(275, 55%, 94%) 0%, 
			hsl(252, 44%, 91%) 99%);
		h1 {
			padding-bottom: 0.6em;
			font-family: 'Source Serif Text';
			font-weight: 300;
			font-size: clamp(2.6rem, 5.5vw, 5rem);
			letter-spacing: -0.015em;
			color: hsl(220, 100%, 56%);
			background: linear-gradient(to bottom, 
				hsl(244, 100%, 32%) 0%, 
				hsl(213, 84%, 51%) 35%, 
				hsl(278, 54%, 65%) 92%);
			@include gradient-text;
			&::selection {
				background: hsl(257, 73%, 75%);
				@include selection-color(hsl(270, 94%, 93%));
			}
			@include screen-md {
				padding-bottom: 1.2rem;
				font-weight: 500;
				// font-size: 3.8rem;
				line-height: 0.96;
			}
		}
		h2 strong {
			color: hsl(0, 0%, 20%);
			font-weight: 400;
		}
	}
	section.round-structure {
		margin-bottom: 0;
		padding: 5.2rem 0;
		> * {
			padding: 0 7rem;
		}
		div.canvas {
			// border: 1px solid red;
			padding: 1rem 0;
			
			div.timeline {
				overflow-x: scroll;
				padding: 0 7rem;
				
				div.labels {
					display: flex;
					gap: 0.8rem;
				}
				p {
					position: relative;
					flex-shrink: 0;
					font-size: 1.2rem;
					text-align: center;
					padding: 0 1rem;
					// max-width: 10rem;
					height: 6rem;
					display: flex;
					align-items: flex-end;
					z-index: 3;
					&::after {
						content: "";
						position: absolute;
						top: 6.4rem;
						left: 0;
						height: 3.3rem;
						width: 100%;
						background: linear-gradient(to bottom, 
							hsl(0, 0%, 100%) 0%, 
							hsl(200, 100%, 97%) 62%, 
							hsl(189, 100%, 96%) 100%
						);
						border-radius: 10rem;
						box-shadow: 0 2px 6px 1px hsla(0, 0%, 0%, 0.02);
					}
					&.stage-dialogos {
						max-width: unset;
						flex-shrink: 0;
						// color: hsl(248, 89%, 67%);
						font-weight: 500;
					}
				}
				div.tray {
					z-index: 2;
					height: 4rem;
					width: 100%;
					background: linear-gradient(to bottom, 
						hsl(224, 71%, 96%) 0%, 
						hsl(207, 41%, 95%) 100%
					);
					border-radius: 10rem;
				}				
			}
			div.explain-text {
				padding-top: 2rem;
				padding-left: 7rem;
				padding-right: 7rem;
				font-family: 'Petrona Var', 'Petrona V', 'Petrona', serif;
				font-size: 2.2rem;
				font-weight: 300;
			}
			div.scroll-indicator {
				width: 6rem;
				height: 0.4rem;
				margin: auto;
				background: hsla(0, 0%, 0%, 0.3);
				border-radius: 10rem;
				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 30%;
					height: 100%;
					border-radius: inherit;
					background: hsla(0, 0%, 0%, 0.8)
				}
			}
		}
	}
}

div.engage {
	position: relative;
	height: fit-content;
	width: 100%;
	padding: 2.1rem 1.5rem 5rem;
	box-shadow: 0 2px 1px 0px hsla(0, 0%, 0%, 0.08);
	
	> * {
		position: relative;
		z-index: 3;
	}
	
	font-family: 'Petrona Var', 'Petrona V', 'Petrona', serif;
	text-align: center;
	h2 {
		font-size: 2.8rem;
		font-weight: 300;
		color: hsl(207, 98%, 56%);
		letter-spacing: -0.009em;
		padding-bottom: 0.6rem;
		em {
			font-style: normal;
			font-weight: 500;
		}
		&::selection, em::selection {
			background: hsl(201, 95%, 88%);
			@include selection-color(hsl(201, 96%, 37%));
		}
	}
	h1 {
		font-size: 2.8rem;
		font-weight: 600;
		color: hsl(248, 8%, 18%);
		letter-spacing: -0.01em;
		margin-bottom: 2.9rem;
		&::selection {
			background: hsl(201, 100%, 44%);
			@include selection-color(hsl(201, 88%, 88%));
		}
	}
	a, a:visited, a:active {
		font-family: 'Inter Var', 'Inter V', 'Inter', sans-serif;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 0.8rem 1.8rem;
		border-radius: 1.1rem;
		color: black;
		background: linear-gradient(to bottom, 
			hsl(0, 0%, 100%),
			hsl(206, 93%, 91%)
		);
		box-shadow: 1px 0 1px 2px hsla(0, 0%, 0%, 0.03);
		transform: translateY(0);
		&:hover {
			transform: translateY(-2rem);
		}
	}
	
	ul.responses {
		height: 15rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 0.8rem;
		padding: 0;
		
		li {
			list-style: none;
			position: relative;
			transition: all 250ms;
			img {
				width: 3.3rem;
				box-shadow: 0 0 0 3px white;
				border-radius: 100rem;
				&:hover {
					animation: bounce 200ms forwards ease-in-out;
				}
				@keyframes bounce {
					0% {
						transform: translateY(0) scale(1);
					}
					50% {
						transform: translateY(-0.4rem) scale(1.02);
					}
					100% {
						transform: translateY(0) scale(1);	
					}
				}
			}
			img:hover + p {
				display: flex;
			}
			p {
				position: absolute;
				top: 4.7rem;
				left: 0;
				transform: translateX(-50%) rotate(-1.5deg);
				width: 15.4rem;
				height: 4.5rem;
				
				padding: 0.5rem 0.5rem;
				display: none;
				
				background: #FFFFFF;
				border-radius: 1.8rem;
				border: 1px solid hsla(0, 0%, 100%, 0.46);
				box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.03);
				
				text-align: left;
				font-family: 'Manropey';
				font-size: 1.1rem;
				color: hsl(234, 6%, 32%);
				strong { 
					font-weight: 600; 
					color: hsl(234, 6%, 24%);
				}
				&::before {
					content: "\00201c";
					display: block;
					font-family: 'Petrona Var';
					font-weight: 800;
					font-size: 5rem;
					color: hsla(60, 8%, 87%, 1.00);
					padding-top: 2rem;
					padding-right: 0.3rem;
				}
				transition: all 250ms;
				&:hover {
					transform: rotate(0) translateX(-50%) scale(1.1) !important;
					border: 2px solid hsla(0, 0%, 100%, 0.6);
					box-shadow: 0 2px 6px 2px hsla(0, 0%, 0%, 0.06);
				}
			}
		}
	}
	
	div.bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// max-height: 23rem;
		z-index: 1;
	}
	div.gradient {
		// box-shadow: 0 3px 6px 1px rgba(0,0,0,0.11);
		height: 80%;
		background: linear-gradient(to bottom, 
			hsl(48, 26%, 96%) 0%,
			hsl(293, 100%, 98%) 25%,
			hsl(237, 100%, 92%) 63%,
			hsl(202, 100%, 70%) 81%,
			hsl(207, 89%, 51%) 100%
		);
	}
	div.blur {
		z-index: 2;
		backdrop-filter: blur(0.3rem);
		-webkit-backdrop-filter: blur(0.3rem);
	}
}

div.library {
	width: 100%;
	padding: 1.6rem 1.9rem;
	
	display: flex;
	gap: 1.2rem;
	overflow-x: scroll;
	
	a {
		display: block;
		flex-shrink: 0;
		width: 40vw;
		height: fit-content;
		padding: 2rem 1.1rem;
		aspect-ratio: 1.4;
		background: hsl(35, 25%, 91%);
		background: linear-gradient(to bottom,
			hsl(35, 25%, 91%),
			hsl(30, 8%, 93%)
		);
		box-shadow: 0 2px 0 hsla(39, 3%, 49%, 0.15);
		color: hsl(0, 0%, 17%);
		border-radius: 1.1rem;
		text-decoration: none;
		h2 {
			text-align: center;
		}
		&:hover {
			h2 {
				color: hsl(216, 82%, 56%);
				text-decoration: underline;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.8rem 1.5rem 2rem;
	font-weight: 500;
	
	a, a:visited, a:active {
		color: hsl(0, 0%, 34%);
		text-decoration: none;
		transition: all 250ms;
	}
	a:hover {
		color: hsl(216, 82%, 56%);
		text-decoration: underline;
	}
	
	a.company {
		background: hsla(0, 0%, 0%, 0.13);
		border-radius: 10rem;
		padding: 0.1rem 0.5rem;
		&:hover {
			color: hsl(0, 0%, 94%);
			background: hsla(0, 0%, 0%, 1);
		}
	}
}