@use './abstracts' as a;
@use './utilities' as *;
@use './components' as *;

html, body {
	font-family: 'Inter Var', 'Inter V', 'Inter', sans-serif;
	background-color: rgb(234, 239, 240);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Overscrolls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.overscroll {
	width: 100%;
	position: fixed;
	height: 300px;
	z-index: -2;
}
.overscroll.top {
	top: 0;
	transform: translateY(-299px);
	background: var(--overscroll-top);
}
.overscroll.bottom {
	bottom: 0;
	transform: translateY(299px);
	background: var(--overscroll-bottom);
}
.overscroll.mobile {
	height: 200px;
	z-index: -3;
	transform: translateY(0) scale(-1, -1);
}
/* Overscrolls [End] */


footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0.8rem 1.5rem 2rem;
	font-weight: 500;
	
	a, a:visited, a:active {
		color: hsl(0, 0%, 34%);
		text-decoration: none;
		transition: all 250ms;
	}
	a:hover {
		color: hsl(216, 82%, 56%);
		text-decoration: underline;
	}
	
	p.open-practice {
		font-style: italic;
		font-weight: 550;
	}
}