@use './abstracts' as a;
@use './utilities';
// @use './components';

@import url('https://rsms.me/inter/inter.css');

html, body {
	font-family: 'Inter', sans-serif;
	background-color: rgb(234, 239, 240);
}

.hide { display: none !important; }

.gradient-text {
	background-clip: text !important;
	-webkit-background-clip: text !important;
	text-fill-color: transparent !important;
	-webkit-text-fill-color: transparent !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Overscrolls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.overscroll {
	width: 100%;
	position: fixed;
	height: 300px;
	z-index: -2;
}
.overscroll.top {
	top: 0;
	transform: translateY(-299px);
	background: var(--overscroll-top);
}
.overscroll.bottom {
	bottom: 0;
	transform: translateY(299px);
	background: var(--overscroll-bottom);
}
.overscroll.mobile {
	height: 200px;
	z-index: -3;
	transform: translateY(0) scale(-1, -1);
}
/* Overscrolls [End] */