<style>
	/* Source Serif - Black */
	@font-face {
		font-family: 'Source Serif Display';
		src: url('https://large-assets.notnotjake.com/fonts/source-serif/Black.woff2') format("woff2");
		font-style: normal;
	}
	/* Source Serif - Light */
	@font-face {
		font-family: 'Source Serif Text';
		src: url('https://large-assets.notnotjake.com/fonts/source-serif/small-text/Light.woff2') format("woff2");
		font-style: normal;
	}
</style>

<!-- <link rel="preload" as="font" href="https://large-assets.notnotjake.com/fonts/source-serif/display/Black.woff2" type="font/woff2" crossorigin> -->