<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<style>
	/* Source Serif - Black */
	@font-face {
		font-family: 'Source Serif Display';
		src: url('https://large-assets.notnotjake.com/fonts/source-serif/Black.woff2') format("woff2");
		font-style: normal;
	}
	/* Source Serif - Black */
	@font-face {
		font-family: 'Source Serif Display';
		src: url('https://large-assets.notnotjake.com/fonts/source-serif/Bold.woff2') format("woff2");
		font-style: normal;
	}
	/* Source Serif - Light */
	@font-face {
		font-family: 'Source Serif Text';
		src: url('https://large-assets.notnotjake.com/fonts/source-serif/small-text/Light.woff2') format("woff2");
		font-style: normal;
	}
	/* Manrope - Medium */
	@font-face {
		font-family: 'Manropey';
		src: url('https://large-assets.notnotjake.com/fonts/manrope/Medium.woff2') format("woff2");
		font-style: normal;
	}
	/* Manrope - Semibold */
	@font-face {
		font-family: 'Manropey';
		src: url('https://large-assets.notnotjake.com/fonts/manrope/SemiBold.woff2') format("woff2");
		font-weight: 600;
		font-style: normal;
	}
	/* Petrona - Variable */
	@font-face {
		font-family: 'Petrona Var';
		src: url('https://large-assets.notnotjake.com/fonts/petrona/var.ttf') format("woff2-variations");
		font-style: normal;
	}
	/* Petrona - Semibold Italic */
	@font-face {
		font-family: 'Petrona';
		src: url('https://large-assets.notnotjake.com/fonts/petrona/SemiBoldItalic.ttf') format("woff2");
		font-weight: 600;
		font-style: italic;
	}
</style>

<!-- <link rel="preload" as="font" href="https://large-assets.notnotjake.com/fonts/source-serif/display/Black.woff2" type="font/woff2" crossorigin> -->

<!--/------------------------------
100 THIN
200 EXTRA-LIGHT
300 LIGHT
400 REGULAR
500 MEDIUM
600 SEMI-BOLD
700 BOLD
800 EXTRA-BOLD
900 BLACK
---------------------------/-->