---
style: '/css/pages/index.css'
---
<!DOCTYPE html>
<html>
	<head>
		{% include "partials/_head.njk" %}
	</head>
	<body>
		<div class="overscroll top"></div>
		<div class="overscroll top mobile"></div>
		
		<div class="wrapper">
			<nav class="more">			
				<details>
					<summary>
						<ul>
							<li>Sign In</li>
							<li>Cheat Sheet Guide</li>
							<li>FAQ's</li>
							<li>Practice Design</li>
							<li>How to Practice</li>
							<li>Find Artwork</li>
							<li>Submit Artwork</li>
						</ul>
						
						<div class="btn">
							<picture>
								<source srcset="{% asset "/images/more.svg" %}">
								<source srcset="{% asset "/images/more.webp" %}">
								<img src="{% asset "/images/more.png" %}" alt="Hamburger menu button">
							</picture>
						</div>
						
					</summary>
				</details>
			</nav>
			
			<div id="hero">
				<div id="logo">
					<picture>
						<source srcset="{% asset "/images/logo.svg" %}">
						<source srcset="{% asset "/images/logo.webp" %}">
						<img src="{% asset "/images/logo.png" %}" alt="Art Fellowship Logo">
					</picture>
				</div>
				
				<div class="strong-copy">
					<h1>Expanding Awareness Together</h1>
					<h2>Relate and Renew Through Art</h2>
				</div>
				
				<div class="content">
					<div class="cards left">
						<div class="quote">
							<p class="quote">&ldquo;</p>
							<p>new <strong>appreciation</strong> for my creativity</p>
							<img src="https://large-assets.notnotjake.com/images/index/profile-pic.png" alt="Person Smiling">
						</div>
						<div><p>add to your <strong>ecology of practices</strong></p></div>
					</div>
					
					<div class="cta">
						<h1>Join the Practice</h1>
						<p>Whether you're new to the practice or returning, this is the place to get the most from Art Fellowship</p>
						<details>
							<summary>
								<p>Get Started</p>
								<div class="overlay"></div>
							</summary>
							<div class="content">
								<div class="title">
									<h1>Get Started <span>with Art Fellowship</span></h1>
								</div>
								<div class="options">
									<div>
										<h2>Facilitated Practice</h2>
										<p>New to the practice? A facilitated practice is available on the Awaken to Meaning platform. This guided session provides the structure, support, and guidance to help you get started.</p>
										<a href="https://awakentomeaning.com/join-practice/">Join the Next Session</a>
									</div>
									<div>
										<h2>Open Practice Community</h2>
										<p>Build your own practice with support from the community. Sign up for <a href="/">{% include "svg/question-mark.html" %}</a></p>
										<input type="text" placeholder="Enter your email">
									</div>
								</div>
							</div>
						</details>
					</div>
					
					<div class="cards right">
						<div><p>explore perspectival knowing</p></div>
						<div id="video-how"><p>See How it Works <span>(2<em>MIN</em>)</span></p></div>
					</div>
				</div>
				
				<div id="art-marquee">
					<div class="main">
						<p>About the Practice</p>
						<picture aria-hidden="true">
							<source srcset="{% asset "/images/down-arrow.svg" %}">
							<source srcset="{% asset "/images/down-arrow.webp" %}">
							<img src="{% asset "/images/down-arrow.png" %}" alt="" aria-hidden="true">
						</picture>
					</div>
					<div class="scroll">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
					</div>				
				</div>
				
				<div class="bg gradient"></div>
			</div>
			
			<article class="problem-statement">
				<div>
					<p>Throughout history, art expanded humanity's awareness, transforming and connecting us.</p>
					<p>Art was communal. Everyone participated. People were connected <em>by</em> and <em>through</em> art.</p>
				</div>
				
				<div>
					<p>Today many of us are disconnected: from art, from our bodies, and from each other. We're disconnected from our creativity and artistic voice.</p>
					<p>Our connections have been severed by a culture that values critique over meaningful experience.</p>
					<p>Our awareness has been hijacked and diluted.</p>
				</div>
				
				<div>
					<p>Art fellowship is an opportunity to reconnect. Through communitas, ritual, and intentional practice, we can open  back up to wonder and insight</p>
				</div>
			</article>
			
			<div id="about">
				<div class="transition">
					<h1>How It Works</h1>
					<object data="{% asset "/images/down-arrow-dark.svg" %}" type="image/svg+xml"></object>
				</div>
				
				<section class="overall-structure">
					<h2>The practice takes place over the course of a full week. Split into two sessions a week apart. In the week between the two sessions, you’re reflecting on round one and responding with your own creative effort.</h2>
				</section>
				
				<section class="benefits">
					
				</section>
				
				<section class="round-structure">
					
				</section>
			</div>
			
			<div class="cta">
				
			</div>
			
			<div class="more-cards">
				
			</div>
			
			<footer>
				
			</footer>
		</div>
	</body>
</html>