---
style: '/css/pages/index.css'
---
<!DOCTYPE html>
<html>
	<head>
		{% include "partials/_head.njk" %}
	</head>
	<body>
		<nav class="more">
			<button id="nav-drawer"></button>
		</nav>
		
		<div id="hero">
			<div id="logo">
				<picture>
					<source srcset="{% asset "/images/logo.svg" %}">
					<source srcset="{% asset "/images/logo.webp" %}">
					<img src="{% asset "/images/logo.png" %}" alt="Art Fellowship Logo">
					
				</picture>
			</div>
			
			<div class="strong-copy">
				<h1>Expanding Awareness Together</h1>
				<h2>Relate and Renew Through Art</h2>
			</div>
			
			<div class="cta">
				<h1>Join the Practice</h1>
				<p>Facilitated sessions provide guidance and structure for new participants. Returning participants can easily find a group.</p>
				<details>
					<summary>
						<p>Get Started</p>
						<div class="overlay"></div>
					</summary>
					<div class="content">
						<div>
							<h2>Facilitated Practice</h2>
							<p>For anyone new to the practice, a facilitated practice is available on the Awaken to Meaning platform.</p>
							<a href="https://awakentomeaning.com/join-practice/">Join the Next Session</a>
						</div>
						<div>
							<h2>Sign Up for Open Practice</h2>
							<p>If you've participated in a facilitated session, you can join our community for regular practice.<a href="/">{% include "svg/question-mark.html" %}</a></p>
							<input type="text" placeholder="Enter your email">
						</div>
					</div>
				</details>
			</div>
			
			<div class="art-scroll">
				<div class="main"></div>
				
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			</div>
			
			<div class="bg gradient"></div>
		</div>
	</body>
</html>