<span class="summary">
	is the musician, educator, & psychologist who developed Art Fellowship with experience running creative programs for over four decades
</span>

<span class="hide">
	a musician, educator, and psychologist. She has initiated and run many programmes for creativity over four decades, including youth orchestras, community choirs, children’s music theatre workshops, adult creativity workshops, sound-healing workshops, and more recently, psychedelic retreats. She is currently involved in academic research into the psychology and cognitive science of meaning-making, creativity, and insight. Her interest in the cognitive science work of John Vervaeke, led her to develop the Art Fellowship practice based on Vervaeke’s dialogical practices (with his blessing!). Her hope is that Art Fellowship will be of benefit to artists and non-artists alike, helping people to tap their creative potential and bring them back to a more direct, participatory experience of art	
</span>