<p>
	<span class="summary">
		allowed understanding to <strong>emerge between</strong> us
	</span>
	<span class="hide">
		Alexandra's Art Fellowship was a very illuminating experience for me.  Exploring the emotional, somatic and qualitative affects of an artwork outside of the usual positioning and opinion making frameworks of the art world allowed for a multifaceted, collaborative and dare I say, more creative understanding to emerge between us, collectively. 
	</span>
</p>
<img src="{% asset "images/profile-photos/delia-brett.jpg" %}" aria-hidden="true">