<span class="summary">
	shifted the importance of meaning
</span>
<span class="hide">
	A common thing to hear is “oh but I don’t understand art” before the viewer has even given themselves a chance to experience a piece on a more intuitive level. The circling practice remove the need to understand the theory of art or the knowledge of the artist in order for the viewer to feel they had the “correct” experience. It shifted the importance of meaning to the importance of the experience and interpretation. For me personally, it removed me from my normal reaction of technically analyzing the work. I got to experience it in silence, hear others talk about their experiences, interpretations, associations before technical execution came in
</span>
